doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 Static Text #{mylocal}
        p Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum
        Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum 
        Lorem EpsumLorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum
        Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum Lorem Epsum